<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mercadopago</name>
	<displayName><![CDATA[MercadoPago]]></displayName>
	<version><![CDATA[3.0]]></version>
	<description><![CDATA[Receive payments via MercadoPago. In this module you can use checkout transparent for credit cards and tickets besides the checkout standard.]]></description>
	<author><![CDATA[MERCADOPAGO.COM REPRESENTAÇÕES LTDA.]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall MercadoPago?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>