<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mercadopagobr</name>
	<displayName><![CDATA[MercadoPagoBr]]></displayName>
	<version><![CDATA[3.2.2]]></version>
	<description><![CDATA[Receba pagamentos com cartão de créditos e boletos atráves do Mercado Pago]]></description>
	<author><![CDATA[MERCADOPAGO.COM REPRESENTA&Ccedil;&Otilde;ES LTDA.]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall>Certeza que deseja desinstalar?</confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
